
$colorprimario: #1e3932;
$colorsecundario:  white;
$colorterceario: #a4a4a4;
$fuentes: "Roboto", sans-serif;

@import "bases";
@import "base/general";
@import "base/shopp";
@import "base/img";
@import "base/cafe";
@import "base/preparacion";
@import "base/tiendas";
@import "base/contacto";