
@media (max-width:435px){
    .franja{
        width: 250px;
    }
}

.alineado{
    display: flex;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "uno dos tres cuatro";
}

@media (max-width:768px){
    .tarjetas{
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: repeat(2, 4fr);
        grid-template-areas:
        "uno dos tres"
        "cuatro cinco seis";
    }
}

@media (max-width:425px){
    .tarjetas{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro";
    }
}

.areauno{
    grid-area: uno;
}
.areados{
    grid-area: dos;
}
.areatres{
    grid-area: tres;
}
.areacuatro{
    grid-area: cuatro;
}
.areacinco{
    grid-area: cinco;
}
.areaseis{
    grid-area: seis;
}

.card{
    padding: 10px;
    margin: 10px;
}
.cartas{
    max-width: 540px;
}
